$fa-font-path: "fonts";

@import "font-awesome";
@import "bootstrap";
@import "hljs-github";
@import "frontpage";

main {
	padding-bottom: 3rem; // to get some space between text and bottom of window.
}

.rules-table {
	.set {
		width: 5%;
	}

	.name {
		width: 35%;
	}

	.summary {
		width: 60%;
	}
}

.inline-validation {
	@extend pre;

	pre {
		border: 0;
		margin-bottom: 0;
		padding: 0;
	}

	.markup {
	}

	.messages {
		border-top: 1px solid $pre-border-color;
		margin-top: ($line-height-computed - 1) / 2;
		padding-top: ($line-height-computed - 1) / 2;

		pre {
			color: $code-color;
		}
	}
}

.markdown-table + table {
	@extend .table;
}

.markdown-table.table-striped + table {
	@extend .table-striped;
}

.markdown-table.table-hover + table {
	@extend .table-hover;
}

.support-table + table td:last-child {
	padding-right: 0;
}

%support {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: -$table-cell-padding 0;
	padding: $table-cell-padding;
}

.support-no {
	@extend %support;
	background: $alert-danger-bg;
	color: $alert-danger-text;
}

.support-yes {
	@extend %support;
	background: $alert-success-bg;
	color: $alert-success-text;
}

.support-planned {
	@extend %support;
	background: $alert-warning-bg;
	color: $alert-warning-text;
}
