{# <!-- [html-validate-disable attr-case: since nunjucks templating is not stripped it flags the attributes as wrong case] -->  #}

<div class="inline-validation">
	<div class="markup"
		{%- for attrName, attrValue in doc.validate.attributes %}{$ attrName $}="{$ attrValue $}"{% endfor %}>
		<pre><code class="hljs lang-html">{$ doc.validate.markup | highlight('html') $}</code></pre>
	</div>

	{%- if not doc.validate.report.valid %}
	<div class="messages">
		<pre>{$ doc.validate.codeframe | escape $}</pre>
	</div>
	{%- endif %}
</div>
