<!-- should not be allowed outside <dl> -->
<div>
	<dt></dt>
</div>

<!-- should not allow sectioning, header, header or footer -->
<dl>
	<dt>
		<header></header>
		<footer></footer>
		<article></article>
		<h1>Lorem ipsum</h1>
	</dt>
</dl>
