<!-- should allow flow content -->
<object>
	<div>foo</div>
</object>

<!-- should allow <param> -->
<object>
	<param>
</object>

<!-- should be transparent -->
<span>
	<object>
		<span>foo</span>
	</object>
</span>
<div>
	<object>
		<div>foo</div>
	</object>
</div>

<!-- should allow <param> before flow -->
<object>
	<param>
	<div></div>
</object>

<!-- should not be interactive unless usemap is set -->
<button type="button">
	<object></object>
</button>
