<!-- should allow elements in correct order -->
<table>
	<caption>foo</caption>
	<colgroup></colgroup>
	<thead></thead>
	<tbody></tbody>
	<tfoot></tfoot>
</table>

<!-- should allow script and template -->
<table>
	<script></script>
	<template></template>
</table>

<!-- should allow <tr> as direct children -->
<table>
	<tr></tr>
</table>

<!-- should allow multiple tbody -->
<table>
	<tbody></tbody>
	<tbody></tbody>
</table>
