<!-- should be allowed under table and friends -->
<table>
	<tr></tr>
</table>
<table>
	<thead>
		<tr></tr>
	</thead>
	<tbody>
		<tr></tr>
	</tbody>
	<tfoot>
		<tr></tr>
	</tfoot>
</table>

<!-- should allow <td> and <th> -->
<table>
	<tr>
		<td></td>
		<th scope="auto"></th>
	</tr>
</table>

<!-- should allow script and template -->
<table>
	<tr>
		<script></script>
		<template></template>
	</tr>
</table>
